@font-face {
  font-family: dm-sans;
  src: url(./fonts/DMSans-Regular.ttf);
}

.bizbut {
  width: 168px;
  height: 42px;
  background: linear-gradient(180deg, #0A2F53 10.8%, #35597C 100%);
  border: 2px solid #000000;
  border-radius: 5px;

  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  color: #FFFCF5;
  cursor: pointer;
  transition: 0.5s
}

.bizbut:hover {
  box-shadow:  3px 3px 5px rgb(0 0 0 / 0.2);
  transition: 0.5s;
  border: 2px solid #EE6F19;
  background: #EE6F19;
}

.reqCB {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  color: #0A2F53;
  text-decoration: none;
  
  transition: 0.25s ease-out;
}

.reqCB:hover {
  color: #EE6F19;
  transition: 0.25s ease-in;
}
