.offerCards1 {
  filter: drop-shadow(0px 10px 20px rgba(10, 47, 83, 0.102));
  width: 315px;
  height: 457px;
  background: #fff;
  border-radius: 10px;
  margin: 0px 20px 53px 20px;
}

.offerCards1 > h3 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;

  padding: 30px 0px;
  color: #42495B;
}

.offerCards1 > img {
  display: block;
  margin: 5px auto;
}

.offerCards1 > p {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  height: 190px;

  color: #42495B;
  padding-left: 20px;
  padding-right: 17px;
}


.offerCards {
  filter: drop-shadow(0px 10px 20px rgba(10, 47, 83, 0.102));
  width: 315px;
  height: 457px;
  background: #fff;
  border-radius: 10px;
  margin: 0px 20px 53px 20px;
}

.offerCards > h3 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  /* identical to box height */
  
  text-align: center;
  
  padding: 30px 0px;
  color: #42495B;
}

.offerCards > p {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  height: 190px;
  
  color: #42495B;
  padding-left: 20px;
  padding-right: 17px;
}

@media screen and (max-width: 1169px){
  .offerCards {
    height: 421px;
  }

  .offerCards > p {
    height: 155px;
  }
}

@media screen and (max-width: 378px ){

  .offerCards1 > p {
    height: 210px;
  }
}

.offerCards > img {
  display: block;
  margin: 10px auto;
  
}


.biggerCards {
  filter: drop-shadow(0px 10px 20px rgba(10, 47, 83, 0.102));
  width: 315px;
  height: 550px;
  background: #fff;
  border-radius: 10px;
  margin: 0px 38px 53px 38px;
}

@media screen and (max-width: 320px){
  .biggerCards {
    height: 648px;
  }

  .biggerCards > p {
    height: 400px;
  }
}

.biggerCards > h3 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;

  padding: 20px 0px;
  color: #42495B;
}

.biggerCards > p {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  
  height: 300px;

  color: #42495B;
  margin-left: 30px;
  margin-right: 17px;
}

.biggerCards > img {
  display: block;
  margin: 10px auto;
  
}

.biggerCards2 {
  filter: drop-shadow(0px 10px 20px rgba(10, 47, 83, 0.102));
  width: 315px;
  height: 570px;
  background: #fff;
  border-radius: 10px;
  margin: 0px 38px 53px 38px;
}

.biggerCards2 > h3 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;

  padding: 20px 0px;
  color: #42495B;
}

.biggerCards2 > p {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  
  height: 300px;

  color: #42495B;
  margin-left: 30px;
  margin-right: 17px;
}

.biggerCards2 > img {
  display: block;
  margin: 10px auto;
  
}




