.casebanner {
  position: relative;
  top: 45px;
  left: 28%;
  z-index: 1;
}

.casefeatures {
  font-family: dm-sans;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 35px;

  color: #0A2F53;
  text-align: center;
}

.casefeatures > span {
  font-family: dm-sans;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 35px;

  color: #fff;

  text-shadow:
  -1px -1px 0 #0A2F53,  
  1px -1px 0 #0A2F53,
  -1px 1px 0 #0A2F53,
  1px 1px 0 #0A2F53;
}

.casesmaller {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  text-align: center;

  color: #1D1D1D;

  opacity: 0.7;

}

.qtyselector {
  height: 30px;
  width: 30px;
  background: #0A2F53;
  color: #fff;
  border: 1px solid #0A2F53;
  border-radius: 100px;

  margin: 0px 10px;

  transition: all 1s;

  font-family: dm-sans;
  font-size: 12px;
}

.activeselector {
  height: 40px;
  width: 40px;
  background: #EE6F19;
  color: #fff;
  border: 1px solid #EE6F19;
  border-radius: 100px;

  transition: all 1s;

  font-family: dm-sans;
  font-size: 12px;
}

.qtyselector + span {
  font-family: dm-sans;
  font-size: 12px;

}

.caseStudyBox {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );



}

.viewshead > h3 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: -0.03em;

  color: #000000;

  text-align: center;
  

}

.viewshead > p {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: -0.03em;

  /* Black */

  color: #000000;
}

.viewsSider > span {
  display: inline-block;
  padding-left: 10px;

  font-family: dm-sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.02em;
text-transform: uppercase;

/* Black */

color: #7F7F7F;;

}

.title {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;

  color: #0A2F53;

}

.caseparagraph > p {
  font-family: dm-sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 27px;

color: #1D1D1D;

opacity: 0.7;
}

.view {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;

  color: #1D1D1D;

opacity: 0.7;
}

.clientContainer {
  background-image: url('../images/logobignocolor.svg');
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  background-position: center;

}
