.statement > h3 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;

  color: #42495B;
  text-align: center;
}

.statement > p {
  padding-top: 20px;
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  text-align: center;

  color: rgba(66, 73, 91, 0.71);
}

.linktotrustpilot {
  font-family: dm-sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */


color: #0A2F53;
}