
.footertxt {
  font-family: dm-sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  padding: 0px 10px;
  color: rgba(10, 47, 83, 0.71);
}

.subscribe {
  display: inline-block;
  padding: 13px 40px;
  border-radius: 5px;
  background: linear-gradient(180deg, #45698B 0%, #0A2F53 100%);
  margin: 0px 11px;
}

.subscribe > span {

  font-family: dm-sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #FFFFFF;
}

.footerabout > p {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  padding-top: 10px;
  color: rgba(10, 47, 83, 0.58);
}

.footerabout > h3 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  /* identical to box height */


  color: #0A2F53;
}


.footerlistservices {
  padding: 0px 20px;
}

.footerlist {
  padding: 0px 20px;
}

.footerlist > h3, .footerlistservices > h3 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  /* identical to box height */


  color: #0A2F53;
}

.footerlist > ul > li, .footerlistservices > ul > li {
  list-style-type: none;
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  padding: 10px 0px;

  cursor: pointer;
  transition: 0.5s ease-in;
  color: rgba(10, 47, 83, 0.58);
}

.footerlist > ul > li > a, .footerlistservices > ul > li > a {
  text-decoration: none;
}

.footerlist > ul > li > a:hover, .footerlistservices > ul > li > a:hover {
  transition: 0.5s ease-out;
  color: #EE6F19;
}

.social > a {
  display: inline-block;
  padding: 0px 10px;
}

.footerrule {
  margin: 64px 100px 0px 100px;
}

.footerrule > hr {
  border: 0.3px solid #6F6F73;
}

.footerfoot > h3 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */


  color: rgba(10, 47, 83, 0.63);
}

@media screen and (max-width: 500px) {
  .footerfoot > h3 {
    font-size: 10px;
  }
}