@font-face {
  font-family: dm-sans;
  src: url(./fonts/DMSans-Regular.ttf);
  font-display: swap;
}

.hero-section {
  /* background: linear-gradient(152.27deg, rgba(255, 252, 244, 0.831) 7.03%, rgba(255, 247, 229, 0.902) 32.02%, #FFF1D0 94.7%); */
  

  background-image: url('../images/BG.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.indexbanner {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-section {
  padding-top: 194px;
  flex-wrap: wrap;

}

.marketing {
  color:  #0A2F53;
  font-family: dm-sans, sans-serif;
  font-style: normal;
  font-weight: bold;

  position: relative;
  z-index: 1;
}

.submarketing {
  font-style: normal;
  font-weight: normal;
  line-height: 30px;

  padding-bottom: 17px; 
  color: rgba(10, 47, 83, 0.62);
}

.p1 {
  text-align: center;
  z-index: 1;
}

.herohead {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
}

.heropara {
  font-family: dm-sans;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  text-align: center;

  color: rgba(52, 52, 52, 0.61);;
}

/* 
  shapes
*/
.shape01 {
  position: relative;
  z-index: 1;
  top: 30%;
  width: 100%;
}

.shape02 {
  bottom: 10%;
  position: relative;
  z-index: 0;
}

.shape03 {
  position: relative;
  bottom: 200%;
  left: 0%;
  z-index: 1;
}

.shape04 {
  position: relative;
  bottom: 200%;
  left: 50%;
  z-index: 1;
}

.shape05 {
  position: relative;
  top: 50%;
  left: 10%;
  opacity: 0.59;
  z-index: 1;
}

.shape06 {
  position: relative;
  top: 3%;
  left: 50%;
  opacity: 0.59;
  z-index: 1;
}

.shape07 {
  position: relative;
  bottom: 200%;
  left: 7%;
  z-index: 0;
}

.shape08 {
position: relative;
  bottom: 280%;
  left: 70%;
  z-index: 0;
}

/* 
  end of shapes
*/



