@font-face {
  font-family: dm-sans;
  src: url(./fonts/DMSans-Regular.ttf);
}

.hero-section {
  background: linear-gradient(152.27deg, rgba(255, 252, 244, 0.831) 7.03%, rgba(255, 247, 229, 0.902) 32.02%, #FFF1D0 94.7%);
  height: 100vh;
  width: 100%;
}

.banner-section {
  font-family: dm-sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 62px;
  width: 50%;
  margin-top: 194px;
  flex-wrap: wrap;
}

.marketing {
  color:  #0A2F53;
  width: 100%;
}

.submarketing {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  padding-top: 20px;
  padding-left: 11px; 
  color: rgba(10, 47, 83, 0.62);
}

