@font-face {
  font-family: dm-sans;
  src: url(./fonts/DMSans-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-Medium.ttf);
  font-display: swap;
}

body {
  background:  #fffcf5 !important;
}

.main {
  background-color: #fffcf5;
  max-width: 2000px;
  margin: auto;

}

.vgd {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #EE6F19;
}

.whatwedo > div > h3 {
  padding-top: 5px;

  font-family: dm-Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;

  color: #0A2F53;
}

.subwhatwedo {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  color: rgba(52, 52, 52, 0.66);
}

.aboutusindex {
 padding-top: 5px;

  font-family: dm-Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;

  color: #0A2F53; 
}

.aboutusindex ~ p {
  padding: 20px 10px 40px 0px;
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;

  color: #949490;
}

.spag {
  position: relative;
  right: 0;
  bottom: 100%;
}

.triangol {
  position: relative;
  left: 50%;
  bottom: 110%;
}

.orangespag {
  position: relative;
  bottom: 95%;
  left: 68%;
}

.circol {
  position: relative;
  bottom: 25%;
  left: 60%;
}

.fatTriangle {
  position: relative;
  left: 10%;
  bottom: 20%;
  opacity: 0.6;
}

.circle_el {
  position: relative;
  bottom: 10%;
  left: 103%;
}

.requesth1 {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 121px;

  color: #0A2F53;
}

.requesth2 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;

  color: #0A2F53;

}

.requesth1 + p {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;

  color: #949490;

}

.indexBizbut {
  margin-top: 20px;
}






