@font-face {
  font-family: dm-sans;
  src: url(./fonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-Medium.ttf);
}

.main {
  background-color: #FFFCF5;
}

/* 
  shapes
*/
.shapeParent {
  width: 100%;
  overflow-x: hidden;
}

.shape01 {
  position: absolute;
  z-index: 1;
  top: 726px;
  right: 0;
  width: 100%;
}

.shape02 {
  top: 745px;
  right: 17%;
  position: absolute;
  z-index: 0;
}

.shape03 {
  position: absolute;
  top: 596px;
  left: 45.76%;
  z-index: 1;
}

.shape04 {
  position: absolute;
  top: 736px;
  left: 69.93%;
  z-index: 1;
}

.shape05 {
  position: absolute;
  top: 286px;
  left: 51.88%;
  opacity: 0.59;
  z-index: 1;
}

.shape06 {
  position: absolute;
  top: 161px;
  left: 83.03%;
  opacity: 0.59;
  z-index: 1;
}

.shape07 {
  position: absolute;
  top: 127px;
  left: 53%;
  z-index: 1;
}

.shape08 {
  position: absolute;
  top: 512px;
  left: 83.03%;
  z-index: 0;
}

/* 
  end of shapes
*/

.vgd {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #EE6F19;
}

.whatwedo > div > h3 {
  padding-top: 5px;

  font-family: dm-Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;

  color: #0A2F53;
}

.subwhatwedo {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  color: rgba(52, 52, 52, 0.66);
}

.aboutusindex {
  font-family: dm-sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  color: #302E22;
}

.aboutusindex ~ p {
  padding: 20px 10px 40px 0px;
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;

  color: #949490;
}

.spag {
  position: relative;
  right: 500px;
  bottom: 30px;
}

.triangol {
  position: relative;
  right: 230px;
  bottom: 70px;
}

.orangespag {
  position: relative;
  bottom: 40px;
}

.circol {
  position: relative;
  top: 300px;
}

.fatTriangle {
  position: relative;
  right: 350px;
  top: 300px;
  opacity: 0.6;
}

.circle_el {
  position: relative;
  top: 250px;
  left: 135px;
}

.requesth1 {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;

  color: #0A2F53;
}

.requesth2 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 35px;

  color: #0A2F53;

}

.requesth1 + p {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;

  color: #949490;

}

.indexBizbut {
  margin-top: 20px;
}



