
.portLinks {

  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.02em;
  text-transform: uppercase;

  text-align: center;

  color: #848484;

  margin: 10px 0px;
}

.portLinks > a {
  display: inline-block;
  padding: 0px 20px;
}

.portbox {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.portshowcase > img {
  padding: 10px 9px;
  border-radius: 9px;
  width: 250px;
}

.portshowcase2 {
  border-radius: 29px;
  background: #ffffff;
  box-shadow:  28px 28px 48px #b5b5b5,
             -28px -28px 48px #ffffff;
}

