

.reusableheader {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;

  color: #0A2F53;
  position: relative;
  z-index: 0;

}

.reusableheader > span {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  line-height: 62px;

  color : rgb(255,255,255, 1);

  text-shadow:
  -1px -1px 0 #0A2F53,  
  1px -1px 0 #0A2F53,
  -1px 1px 0 #0A2F53,
  1px 1px 0 #0A2F53;
}

.reusableheader + p {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;

  padding: 20px 0px;
  color: rgba(52, 52, 52, 0.66);

}

.reusableimageholder {
  position: relative;
  bottom: 295%;
  left: 10%;
  z-index: 0;
}

.reshape8 {
  position: relative;
  bottom: 135%;
  left: 86%;
  z-index: 999;
}

.reshape7 {
  position: relative;
  bottom: 71%;
  left: 15%;
}

@media screen and (max-width : 1250px) {

  .reshape7 {
    bottom: 55%;
  }

}

.reshape6 {
   position: relative;
  bottom: 45%;
  left: 70%;
  z-index: 999;
}

.reshape05 {
  position: relative;
  top: 0;
  left: 10%;
  z-index: 999;
}

.reshape4{
  position: relative;
  top: 200%;
  left: 50%;
  z-index: 999;
}

.reshape3 {
  position: relative;
  top: 170%;
  left:  0%;
  z-index: 999;
}

.reshape2 {
  position: relative;
  bottom: -23%;
  left:  21%;
  z-index: 1;
  z-index: 999;
  
}

.reshape1 {
  position: relative;
  top: 66%;
  left:  0%;
  z-index: 1;
  width: 100%;
  z-index: 999;
}
