.logoContainer {
  position: relative;
  /* left: -100px; */
  width: 100%;
}

.slideshow {
  background: none;
  margin-bottom: 10px;
}

.logos {
  position: absolute;
  margin: 20px 20px;
  left: -100px;
}

.logopng {
  /* -webkit-filter: invert(100%);  */
  /* filter: invert(100%); */
  width: 150px;
  margin: 0px 30px;
  align-self: center;
}

.addon {
  /* width: 90px; */
  /* height: 90px; */
  /* width: 150px; */
  margin: 20px 20px;
  /* filter: invert(100%); */
}

.addon2 {
  /* width: 150px; */
  height: 150px;
  /* margin: 0px 80px; */
  /* filter: invert(100%); */
}

.addon3 {
  width: 150px;
  /* height: 50px; */
  /* margin: 0px 80px; */
  /* filter: invert(60%); */
}

.addon4 {
  /* width: 200px; */
  height: 200px;
  /* margin: 0px 20px; */
  /* filter: invert(100%); */
}

.seeMore {
  padding: 14px 18px;

  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  border: 2px solid #0A2F53;

	color: inherit;
	position: relative;
	z-index: 1;
	-moz-osx-font-smoothing: grayscale;

  border: 2px solid #0A2F53;
  border-radius: 10px;

  cursor: pointer;
  
}

.seeMore:focus {
	outline: none;
}

.seeMore > span {
	vertical-align: middle;
}

.seeMore.button--aylen {
  background: #fff;
	color: #37474f;
	overflow: hidden;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
  transition: 0.3s;
}

.seeMore:hover {
  color: #fff;
  
}

@keyframes slideshow {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.slidelogo {
  width: 100px;
  margin:0px 10px 0px 10px ;
}

.marquee {
    overflow: hidden;
    position: relative;
    color: #333;
    height: 50px;
    width: 100%;
}

.marquee > img {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
