.sliderBox {
  width: 315px;
  height: 340px;
  border: 2px solid #0A2F53;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #0A2F53;
  margin: 10px 32px;

  transition: all 0.25s ease-out;

}

.sliderBox:hover {
  box-shadow: 12px 12px 10px #0A2F53; 
  transition: all 0.25s ease-in;
}

.sliderBox > div {
  margin: auto;
  width:270px ;
}

.sliderBox > div > img {
  display: block;
  margin: auto;
  padding-top: 30px;
}

.sliderBox > h3 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  padding: 10px 0px;

  color: #1D1D1D;
  text-align: center;
}

.leftArrow {
  border-radius: 5px;
  border: 2px solid #0A2F53;
  padding: 10px;
  margin-right: 10px;
  transition: 0.3s ease-out;
  display: inline-block;
}

.leftArrow:hover {
  cursor: pointer; 
  filter: drop-shadow(0px 9px 28px rgba(10, 47, 83, 0.161));
  box-shadow: 3px 3px 5px #0A2F53; 
  background: #EE6F19;
  transition: 0.3s ease-out;
}

.rightArrow {
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #0A2F53;
  transition: 0.3s ease-out;
  display: inline-block;
}

.rightArrow:hover {
  cursor: pointer; 
  filter: drop-shadow(0px 9px 28px rgba(10, 47, 83, 0.161));
  box-shadow: 3px 3px 5px #0A2F53; 
  transition: 0.3s ease-out;
  background: #EE6F19;
}