.socmedgrowthlist {
  padding-top: 10px;
}

.socmedgrowthlist > li {
  list-style-type: none;
  padding: 5px 0px;
}

.socmedgrowthlist > li > img {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.widerCards {
  filter: drop-shadow(0px 10px 20px rgba(10, 47, 83, 0.102));
  width: 500px;
  height: 800px;
  background: #fff;
  border-radius: 10px;
  margin: 0px 38px 53px 38px;
}

@media screen and (max-width: 1169px ){
  .widerCards {
    height: 900px;
  } 
}

.widerCards > h3 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;

  padding: 30px 0px;
  color: #42495B;
}

.widerCards > p {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  height: 550px;

  color: #42495B;
  margin-left: 30px;
  margin-right: 17px;
}

@media screen and (max-width: 1169px ){
  .widerCards {
    height: 900px;
  }

  .widerCards > p {
    height: 600px;
  }

  .widerCards3 > p {
    height: 390px;
  }

  .widerCards3 {
    height: 800px;
  }
}


.widerCards > img {
  display: block;
  margin: 10px auto;
  
}

.widerCards2 {
  filter: drop-shadow(0px 10px 20px rgba(10, 47, 83, 0.102));
  width: 500px;
  height: 500px;
  background: #fff;
  border-radius: 10px;
  margin: 0px 38px 53px 38px;
}

.widerCards2 > h3 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;

  padding: 30px 0px;
  color: #42495B;
}

.widerCards2 > p {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  height: 250px;

  color: #42495B;
  margin-left: 30px;
  margin-right: 17px;
}

.widerCards2 > img {
  display: block;
  margin: 10px auto;
  
}

.widerCards3 {
  filter: drop-shadow(0px 10px 20px rgba(10, 47, 83, 0.102));
  width: 500px;
  height: 700px;
  background: #fff;
  border-radius: 10px;
  margin: 0px 38px 53px 38px;
}

.widerCards3 > h3 {
  font-family: dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;

  padding: 30px 0px;
  color: #42495B;
}

.widerCards3 > p {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  height: 550px;

  color: #42495B;
  margin-left: 30px;
  margin-right: 17px;
}

.widerCards3 > img {
  display: block;
  margin: 10px auto;
  
}


@media screen and (max-width: 1169px ){


  .widerCards2 {
    height: 540px;
  }

  .widerCards2 > p {
    height: 290px;
  }

  .widerCards3 > p {
    height: 550px;
  }

  .widerCards3 {
    height: 800px;
  }
}

.seoword > h3 {
  font-family: dm-sans;
  font-style: normal;
  line-height: 62px;
  
  color: #fff;

    text-shadow:
  -1px -1px 0 #0A2F53,  
  1px -1px 0 #0A2F53,
  -1px 1px 0 #0A2F53,
  1px 1px 0 #0A2F53;
}

.seoword > h3 > span {
    font-family: dm-sans;
  font-style: normal;
 
  line-height: 62px;

  color: #0A2F53;
}


.seoword > p {
  font-family: dm-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;

  padding: 20px 0px;

  color: #1D1D1D;

  opacity: 0.7;
}
